* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    margin-top: 40px;
    color: rgb(229, 49, 112);
}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

.clearfix {
    overflow: both;
}

div:first-child {
    margin-top: 50px;
    text-align: center;
}

.card {
    width: 350px;
    height: 120px;
    background-color: black;
    margin-right: 15px;
    margin-top: 50px;
    float: left;
}

img {
    width: 120px;
    float: left;
}

h2 {
    font-size: 18px;
    color: white;
    text-align: left;
    padding: 10px;
    margin-left: 130px;
    margin-top: 5px;

}

h5 {
    color: white;
    text-align: left;
    margin-left: 140px;
}

.email {
    margin-top: 10px;
    color: rgb(97, 204, 250);
}

