* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: rgb(229, 49, 112);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.clearfix::after {
    clear: both;
    display: block;
    content: '';
}

#bodycontent {
    margin-top: 2%;
}

.card {
    width: calc(100% / 3 - 20px);
    background-color: black;
    margin: 10px;
    float: left;
    box-shadow: 9.5px 12px 6px 3px #dddddd;
}

img {
    width: 120px;
    float: left;
    display: block;
}

h2 {
    font-size: 18px;
    color: white;
    text-align: left;
    padding: 10px;
    margin-left: 130px;
    margin-top: 5px;

}

h5 {
    color: white;
    text-align: left;
    margin-left: 140px;
}

.email {
    margin-top: 10px;
    color: rgb(97, 204, 250);
}

